@import "./styles/variables.scss";
@import "./styles/reset.scss";

body {
  font-size: 1.6rem;
  background: url("./img/back.jpg") center/cover no-repeat;
}
.player {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.wrapper {
  border: 2px solid map-get($map: $color, $key: light);
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(0px);
  background: rgba(0, 0, 0, 0.588);
}
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.track-art {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 2px solid map-get($map: $color, $key: light);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
  // .track-art-center {
  //   position: absolute;
  //   width: 50px;
  //   height: 50px;
  //   border-radius: 50%;
  //   border: 5px solid map-get($map: $color, $key: light);
  //   top: 38%;
  //   left: 38%;
  // }
}
.now-playing {
  margin: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: map-get($map: $color, $key: light);
}
.track-name {
  font-size: 1.6rem;
  color: map-get($map: $color, $key: light);
}
.track-artist {
  margin-top: 5px;
  font-size: 1rem;
  color: map-get($map: $color, $key: light);
  font-family: "Courier New", Courier, monospace;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.active {
  color: map-get($map: $color, $key: dark);
}
.repeat-track,
.next-track,
.playpause-track,
.prev-track,
.random-track {
  padding: 15px;
  color: map-get($map: $color, $key: light);
  & .fa-2x,
  & .fa-5x {
    font-size: 2rem;
  }
}
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  background: map-get($map: $color, $key: volume);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: map-get($map: $color, $key: light);
  border: 2px solid map-get($map: $color, $key: thumb);
  cursor: grab;
  border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}
.seek_slider {
  width: 60%;
}
.volume_slider {
  width: 30%;
}
.current-time,
.total-duration {
  padding: 10px;
  font-size: 0.8rem;
  color: map-get($map: $color, $key: light);
}
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
  color: map-get($map: $color, $key: light);
}
.randomActive {
  color: map-get($map: $color, $key: light);
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .stroke {
  background: map-get($map: $color, $key: light);
  height: 100%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 10%;
    background-color: map-get($map: $color, $key: thumb);
  }
  100% {
    height: 50%;
    background: map-get($map: $color, $key: thumb);
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
