* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1.6rem;
  background: url("./img/back.jpg") center/cover no-repeat;
}

.player {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  background: rgba(0, 0, 0, 0.588);
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.now-playing {
  font-size: 0.9rem;
  color: #fff;
}

.track-name {
  font-size: 1.6rem;
  color: #fff;
}

.track-artist {
  margin-top: 5px;
  font-size: 1rem;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.active {
  color: #000;
}

.repeat-track,
.next-track,
.playpause-track,
.prev-track,
.random-track {
  padding: 15px;
  color: #fff;
}
.repeat-track .fa-2x, .repeat-track .fa-5x,
.next-track .fa-2x,
.next-track .fa-5x,
.playpause-track .fa-2x,
.playpause-track .fa-5x,
.prev-track .fa-2x,
.prev-track .fa-5x,
.random-track .fa-2x,
.random-track .fa-5x {
  font-size: 2rem;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #d4a373;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid #d5914d;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
  color: #fff;
}

.randomActive {
  color: #fff;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wave {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s;
}

#wave.loader {
  opacity: 1;
  transform: scale(1);
}

.loader .stroke {
  background: #fff;
  height: 100%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  50% {
    height: 10%;
    background-color: #d5914d;
  }
  100% {
    height: 50%;
    background: #d5914d;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}